<%- include ('../partials/header') %>


<header class="jumbotron">
    <h1>Weclome To The Application Section</h1>
</header>

<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/apps/cal.JPG">
                <div class="caption">
                    <h4> Calculator </h4>
                </div>
                <p>
                    <a href="/apps/calculator" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/apps/weather.JPG">
                <div class="caption">
                    <h4> Weather API </h4>
                </div>
                <p>
                    <a href="/weather" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>

        
    </div>

    
</div>

</div>

