<!DOCTYPE html>
<html>
    <head>
        <title>Weather Application</title>
        <link rel="stylesheet" href="stylesheets/weather.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
         <div class="main-content">
            Page not found
        </div>
    </body>
</html>