<%- include ('partials/header') %>


<header class="jumbotron">
    <h1>Weclome To The Certifications Section</h1>
</header>

<header class="jumbotron">
    <h2>OA University Certifications</h2>
</header>

<div class="container">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/Certificate_1.jpg">
                <div class="caption">
                    <h4> BSc </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/Certificate_1.jpg" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
    </div>
</div>


<header class="jumbotron">
    <h2>HCL Certifications</h2>
</header>
<div class="container">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
    </div>
</div>

<header class="jumbotron">
    <h2>Linkedin Courses Certifications</h2>
</header>
<div class="container">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
    </div>
</div>

<header class="jumbotron">
    <h2>Percipio - Skillsoft Certifications</h2>
</header>
<div class="container">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="../../image/certs/infsec.JPG">
                <div class="caption">
                    <h4> Information Security </h4>
                </div>
                <p>
                    <a href="http://localhost/image/certs/infsec.JPG" class="btn btn-primary">Open</a>
                </p>
            </div>
        </div>
    </div>
</div>

</div>

