<%- include ('partials/header') %>



    <div class="container">
        <h1>Ahmed Ali M. Soliman</h1>
        <h4>Computer Programmser</h4>



        <hr>
        <h3>Welcome to Ahmed's personal site</h3>


        <img src="https://media-exp1.licdn.com/dms/image/C5603AQHkxM-0QdExkA/profile-displayphoto-shrink_800_800/0/1578080941615?e=1641427200&v=beta&t=hDzPczIHXlR7eszzxctvU05S9W13HqTGMeQb0vPMGsg">

    </div>


    <%- include ('partials/footer') %>