<%- include ('partials/header') %>



    <h1>Ahmed Ali M. Soliman</h1>
    <h4>Computer Programmser</h4>



    <hr>
    <h3>Welcome to Ahmed's personal site</h3>


    <img src="../public/image/wat.jpg">



    <%- include ('partials/footer') %>