<!DOCTYPE html>
<html>

<head>
    <title> Ahmed Ali M. Soliman </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="stylesheets/landing.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

</head>

<body>

    <div id="landing-header">
        <h1>Welcome to Ahmed's world!</h1>
        <a href="/main" class="btn btn-lg btn-success">Precede</a>
        <a href="https://onedrive.live.com/embed?cid=77B340DCC37AB033&resid=77B340DCC37AB033%2146111&authkey=AKkdeATZNsi17uc" class="btn btn-lg btn-danger">Images</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>




</body>

</html>