<%- include ('partials/header') %>

<div class="container">
  <h1>Current Registerd user</h1>
</div>

<div class="row text-center" style="display: flex; flex-wrap: wrap">
  <% _user.forEach(function(_u) { %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h4><%= _u.username %></h4>
      </div>
      <p>
        <a href="/gallary/profile/<%= _u._id %>" class="btn btn-primary"
          >Profile</a
        >
      </p>
    </div>
  </div>
  <% }); %>
</div>

<%- include ('partials/footer') %>
