<%- include ('../partials/header') %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Weclome To My gallary!</h1>
            <a>View my ALL pics throuh time</a>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% aws_pic.forEach(function(pic) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= pic %>">
                    <div class="caption">
                        <h4> <%= pic.split("ahmedalisolimanpics/")[1] %> </h4>
                    </div>
                    <p>
                        <a href="/gallary/all/<%= pic.split("ahmedalisolimanpics/")[1] %>" class="btn btn-primary">Expand</a>
                    </p>
                </div>
            </div>
        <% }); %>
    
    </div>

</div>