<%- include ('../partials/header') %>

    <div class="container">
        <h1> MY gallary</h1>
        <a href="/gallary/local" class="btn btn-lg btn-info">Website gallary</a>
        <a href="https://onedrive.live.com/embed?cid=77B340DCC37AB033&resid=77B340DCC37AB033%2146111&authkey=AKkdeATZNsi17uc" class="btn btn-lg btn-danger">OneDrive Images</a>
        <a href="https://www.instagram.com/ahmed_ali_m_soliman/?hl=en" class="btn btn-lg btn-warning">Instagram Profile</a>
    </div>

<%- include ('../partials/footer') %>